#--- Am adăugat asta fiindcă se plângea Docker ---

httpx

orjson

# --- Core API ---

Flask==3.1.3

Flask-RESTful==0.3.10

gunicorn==25.3.0

waitress==3.0.2

requests==2.32.5



# --- Securitate & Utilitare ---

python-dotenv==1.2.1





# --- Data Science & Logica ---

pandas==2.3.3

numpy==2.3.5



# --- CI/CD & Testing ---

pytest==9.0.3

pytest-cov==7.1.0